root = true

# All files
[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Xml files
[*.xml]
indent_size = 2

# Visual Studio project files
[*.{vcxproj,filters,slnx}]
indent_size = 2
